body, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
}

#nav-container > nav > ul {
  list-style-type: none;
}

/* NAVIGATION */
#nav-background {
  position: fixed;
  top: 0;
  z-index: 9000;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
  /*
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  */
}

#nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

#nav-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#nav-logo {
  color: #444;
  text-decoration: none;
}
#nav-logo:hover {
  color: #666;
}

.nav-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
}

.nav-ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #444;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.nav-link:hover {
  background-color: #f1f1f1;
}

.active-link {
  background-color: #f1f1f1;
}

/* END NAVIGATION */


/* MOBILE MENU */
@media screen and (max-width: 700px) {
  
  #nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  
  #nav-menu-button {
    padding: 1rem;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .nav-ul {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    direction: rtl;
    max-height: 80vh;
  }
  
  .hide-ul {
    max-height: 0;
  }
  
  .nav-link {
    padding: 1rem 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #f4f4f4;
  }
}
/* END MOBILE MENU */

/* DESKTOP MENU */
@media screen and (min-width: 701px) {
  
  #nav-menu-button {
    display: none;
  }
  
  .nav-link {
    padding: 1rem 1.5rem;
  }
}

/* This moves the logo so that it's not touching the left side */
@media screen and (max-width: 1040px) {
  #nav-logo {
    margin-left: 1rem;
  }
}
/* END DESKTOP MENU */
